@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --color-blue: #0A3871;
    --color-celeste: #F3F5FC;
    --color-gray: #495057;
    --color-gris: #D8DFE8;
    --color--background: var(--color-celeste);
}

body {
    background: var(--color--background);
    font-size: 'rubik', sans-serif;
}
textarea {
    font-size: 'rubik', sans-serif;
}
/*Header*/

.header {
    width: 90%;
    margin: auto;
}

.header__logo {
    margin-top: 40px;
}
/*Main*/
.main {
    width: 80.5%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91 - 72px);
    align-items: end;
}
/*Left*/
.left {
    background-color: var(--color-celeste);
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left__texto {
    width: 80%;
    font-size: 32px;
    color: var(--color-blue);
    resize: none;
    background: none;
    border: none;
    outline: none;
}

.left__texto::placeholder {
    color: var(--color-blue);
}

.left__info {
    color: var(--color-gray);
}

.left__button {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.btn__criptografar,
.btn__descriptografar,
.btn__copiar {
    border: 1px solid var(--color-blue);
    cursor: pointer;
    max-width: 328px;
    width: 45%;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
}

.btn__criptografar{
    background-color: var(--color-blue);
    color: white;
}

.btn__descriptografar {
    background-color: var(--color-gris);
    color: var(--color-blue);
}

.left__advertencia {
    display: inline-block;
}
/*Right*/
.right {
    background-color: #ffffff;
    height: calc(100% + 48px);
    border-radius: 32px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.right.ajustar {
    text-align: left;
    font-weight: 400;
    justify-content: space-between;
}

.boneco {
    width: 100%;
}

.oculto {
    display: none;
}

.menssagem__final {
    background: none;
    border: none;
    outline: none;
    resize: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.menssagem__final.ajustar {
    height: 80%;
}

.right__info {
    color: var(--color-gray);
    font-size: 16px;
    text-align: center;
}

.btn__copiar {
    width: 100%;
    display: none;
    background: transparent;
    color: var(--color-blue);
}

@media screen and (max-width: 800px){
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 75% auto ;
        width: auto;
        margin: auto 40px;
    }
    .btn__criptografar {
        justify-content: center;
    }
    .btn__criptografar,
    .btn__descriptografar,
    .btn__copiar {
        width: 45%;
    }
    .right {
        height: 100%;
    }
    .boneco {
        display: none;
    }
}

@media screen and (max-width: 500px){
    .main{
        margin: auto 16px;
    }
    .btn__criptografar,
    .btn__descriptografar {
        max-width: none;
        width: 100%;
    }
}
